.menuHamburguerDisplay {
    display: none;
    color: var(--primary-color);
}

.box {
    border: 2px solid green;
}

@media (max-width: 768.99px) {

    .menuHamburguer {
        display: contents;
    }

    .menuHamburguerDisplay {
        display: contents;
    }
}