.featuresContainer {
    width: 100%;
    padding: 0.5em 2em;
}

.featuresContainer h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

hr {
    border: 1px solid var(--primary-color);
    margin-bottom: 2em ;
}

.featuresContainer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.featuresContainer .feature {
    width: 25%;
    display: flex;
    flex-grow: 1;
    color: var(--secondary-color);
    margin-bottom: 1em;
}

.featuresContainer li {
    justify-content: flex-start;
    padding-left: 1em;
}
/*------------------------------------ Media queries ----------------------------*/
@media (min-width: 769px) and (max-width: 1024.99px){
    .featuresContainer .feature {
        width: 50%;
    }
}

@media (max-width: 768.99px) {
    .featuresContainer .feature {
        width: 100%;
    }
}