.containerRegisterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28rem;
}

h1{
    color: var(--primary-color);
}

.containerRegisterForm h1{
    margin: 1rem;
}

.completeNameContainer {
    width: 100%;
    max-width: 28rem;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.submitRegisterButton {
    width: 12.8em;
    height: 2.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--lighter-constrast-color);
    box-shadow: 2px 2px 3px lightgray;
    cursor: pointer;
}

@media (max-width: 768px) {
    .containerRegisterForm {
        flex-direction: column;
        width: 18rem;
    }

    .containerRegisterForm h1{
        font-size: 24px;
        font-weight: 700;
    }

    .completeNameContainer {
        flex-direction: column;
        gap: 0;
    }

    .submitRegisterButton{
        width: 18rem;
    }
}

@media (min-width: 769px) and (max-width: 1024.99px){
    .containerRegisterForm {
        flex-direction: column;
        width: 21rem;
    }

    .containerRegisterForm h1{
        font-size: 24px;
        font-weight: 700;
    }

    .completeNameContainer {
        flex-direction: column;
        gap: 0;
    }

    .submitRegisterButton{
        width: 21rem;
    } 
}
